body{
    font-family: 'Arial';
    background-color:grey;
    height: 100vh;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}
.quiz-container{
    background: white;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#question-number{
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: bold;
}
#question{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.options{
    display: flex;
    flex-direction: column;
}
.option{
    background-color:yellow;
    color: black;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background color 0.3s;
}
.option:hover{
    background-color: rgb(138, 159, 22)
}
.footer{
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-top: 20px;
}
#timer{
    font-weight: bold;
}
#next-btn{
    background-color:blue;
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
#next-btn:hover{
    background-color: rgb(77, 135, 216);
}
.hide{
    display: none;
}
.option.correct{
    background-color: green;
}
.option.incorrect{
    background-color: red;
}